<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
      </ion-buttons>
    <ion-title>Redes Socialesl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="custom-list">
    <ion-item button="true" detail="true" (click)="goTo('facebook')" lines="none" class="custom-item">
      <img src="assets/icon/redes/facebook.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Facbook</h2>
        <p>Noticias, eventos y vida estudiantil te esperan</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="goTo('instagram')" lines="none" class="custom-item">
      <img src="assets/icon/redes/instagram.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Instagram</h2>
        <p>Descubre el día a día de CGE en fotos y videos</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="goTo('x')" lines="none" class="custom-item">
      <img src="assets/icon/redes/gorjeo.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>X</h2>
        <p>Sigue nuestras actualizaciones y participa en la conversación</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="goTo('tiktok')" lines="none" class="custom-item">
      <img src="assets/icon/redes/tik-tok.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Tik Tok</h2>
        <p>¡Únete a nuestros challenges y contenido creativo!</p>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>
