<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Recursos CGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="custom-list">
    <ion-item button="true" detail="true" (click)="goTo('fundacion')" lines="none" class="custom-item">
      <img src="assets/icon/fundacion/amor.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Radio FCGE</h2>
        <p>Escucha la mejor música</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="goTo('voluntario')" lines="none" class="custom-item">
      <img src="assets/icon/fundacion/voluntario.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Biblia</h2>
        <p>Se parte del cambio</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
