<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Fundación CGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="custom-list">
    <ion-item button="true" detail="true" (click)="goTo('fundacion')" lines="none" class="custom-item">
      <img src="assets/icon/fundacion/amor.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Somos FCGE</h2>
        <p>Fundación Consulting Group Ecuador</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="goTo('voluntario')" lines="none" class="custom-item">
      <img src="assets/icon/fundacion/voluntario.png" alt="SGA Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Ser Voluntario</h2>
        <p>Se parte del cambio</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="goTo('contactos')" lines="none" class="custom-item">
      <img src="assets/icon/fundacion/contactos.png" alt="Contactos Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Contactos</h2>
        <p>Teléfonos, direcciones y horarios</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" (click)="goTo('web')" lines="none" class="custom-item">
      <img src="assets/icon/fundacion/web.png" alt="Contactos Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>WebSite CGE</h2>
        <p>Visita nuestro sitio oficial</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" detail="true" [routerLink]="['redesfun']" lines="none" class="custom-item">
      <img src="assets/icon/redes/redes.png" alt="Campus Icon" slot="start" class="custom-list-icon"/>
      <ion-label>
        <h2>Redes Sociales</h2>
        <p>Facebook, Instagram, X, Tik Tok</p> </ion-label>
    </ion-item>

  </ion-list>

</ion-content>