// Estilos generales de la tarjeta
.contact-card {
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    --background: #f2f2f2; 

  }
  
  // Contenido de la tarjeta
  ion-card-content {
    padding-top: 0;
    padding-bottom: 16px;
  
    // Estilos para los items dentro de la tarjeta
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-top: 4px;
      --inner-padding-bottom: 4px;
      --min-height: auto;
      --background: transparent;
      // -----------------------------------------------------
  
      ion-icon {
        margin-right: 10px;
        font-size: 1.2em;
        align-self: flex-start;
        margin-top: 2px;
      }
  
      ion-label {
        font-size: 0.9em;
        color: #333; 
        margin-top: 0;
        margin-bottom: 0;
  
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  
// Estilos para el botón de WhatsApp
.whatsapp-button {
    margin-top: 16px;
    text-transform: none;
    font-weight: 500;
  
    &::part(native) {
      color: #ffffff; 
      border-radius: 25px !important; 

    }
  
     ion-icon {
       color: #ffffff;
     }
  }