/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";



ion-item.custom-item {
  --background: #f2f2f2; 
  border-radius: 8px; 
  margin-bottom: 12px; 
  align-items: center; // Mantiene la alineación vertical

  // Estilos para la IMAGEN personalizada
  img.custom-list-icon {
    width: 50px;     // Ancho deseado 
    height: 50px;    // Alto deseado 
    object-fit: contain; // Asegura que la imagen se escale sin deformarse dentro del tamaño definido
    margin-right: 16px; // Espacio a la derecha de la imagen
    margin-left: 8px;  // Espacio a la izquierda de la imagen
  }

  ion-label {
    h2 {
      font-weight: bold; 
      font-size: 1em; 
      color: #333; 
      margin-bottom: 2px; 
    }
    p {
      font-size: 0.8em; 
      color: #666; 
    }
  }
}
  
ion-item.custom-item:last-child {
  margin-bottom: 0;
}


ion-list.custom-list {
  background: transparent; 
  padding: 0; 
}

ion-content {
  --background: #ffffff; 
  --padding-bottom: 70px;
}


ion-fab ion-fab-button ion-icon {
  font-size: 40px;
  color: white;
}

ion-header {
  padding-top: env(safe-area-inset-top);
}
